header {
    box-sizing: border-box;
    padding: 50px;
    position: relative;
    z-index: 999;
}

li {
    padding: 10px 15px;
}

li:first-child {
    padding-left: 0;
}

.nav li:hover {
    color: #e3a51e;
}

li a+i {
    padding: 5px;
    font-size: 10px;
}

.i_header i {
    color: #000;
}

.i_header i:hover {
    color: #e3a51e;
    font-weight: 600;
}



.mega_dropdown:hover>.dropdown {
    opacity: 1;
    visibility: visible;
}


.dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 30px;
    left: 0;
    opacity: 0;
    background-color: #fff;
    visibility: hidden;
}

.dropdown h5 {
    color: #000;
}



.item a {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.item a:hover {
    color: #e3a51e;
}

.item ul {
    padding: 0;

}

.item li {
    list-style: none;
    padding-left: 0;
}